{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
    <link href="{{ static 'global/EDEGgeneral.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/EDEGcustom.css'}}" rel="stylesheet">

    
{% endblock %}

{% block content %}

<body>
   
    <div class="No-label">       
       <h4> Current Round</h4>
            <p style="text-align: left; font-size: 0.9rem;">
                Round number {{game_round}} out of {{C.NUM_ROUNDS}} in this game.
            </p>
            <div class="" style="padding-bottom:20px;">
                <!-- Please choose one of the options. /your preferred option  edit text  -->
                {% if game_round > 5 %} 
                <p> Please choose one of the options.</p> 
                {%else%}
                <p> Please choose one of the options.</p>  
                <p> If you choose Option A, <span id="description-safe"> you will <b> gain {{ C.safe_outcome }} points.</b></span>  <span class="non_salient"> This option emits {{carbonA}} lbs of CO2.  </span> </p> 
                <p> If you choose Option B,  <span id="description-risky">you will have a 90% chance to <b>gain {{ C.high_lottery }} points</b> and a 10% chance to <b>lose {{ C.low_lottery }} points.</b> </span> <span class="non_salient"> This option emits {{carbonB}} lbs of CO2.</span>  </p>
                {{endif}}
                
                <p> <span class="non_salient"> While this is just a rough estimate, you can think about <b>{{C.carbon}} lbs CO2 ( ≈ <span class ="carbonMetric"></span> metric kilos) as being equivalent to travelling {{carbonMiles | to0}} miles in an average passenger car.</b> </span> 
                </p>
                
                {% if game_round == 1 or game_round == firstRoundSecondBlock %} 
                        {% if Salience == False %} 
                        <div  class="att-box">
                            <h4 style="margin-top:-17px; padding-left:10px;
                            margin-left:20px; width:180px;
                            background:white;">Last Reminder</h4>
                           <p > Please bear in mind that Option {{if carbonA > 0}} A {{else}} B {{endif}} entails carbon emissions ({{C.carbon}} lbs CO2, which is around <span class ="carbonMetric"></span> metric kilos or around {{carbonMiles | to0}} miles in an average passenger car). No emissions will be caused by Option {{if carbonA > 0}} B{{else}} A{{endif}}. Carbon emissions will remain the same, but <b>you will not be reminded about them in the following rounds</b>.</p>
                        </div>
                        {% endif %}
                {% endif %}
            </div>
            <table style=" width:100%" class="table" id="choicetable">
                <tbody>
                    <tr style="font-weight: bold;"> <th> </th> <td> Option A </td> <td> Option B </td></tr>
                    
                    <tr>
                        <th> Payoff</th> 
                        <td id = "payoff_safe"> Get <span class="point_span">{{ C.safe_outcome }}</span> points for sure
                        </td> 
                        <td id = "payoff_risky">  <span > Get <span class="point_span">{{ C.high_lottery }}</span> points with <span class="point_span">90%</span> probability </span> <br>  <span> Get <span class="point_span">{{ C.low_lottery }}</span> points with <span class="point_span">10%</span> probability </span> 
                        </td>
                    </tr>
                    <tr class="non_salient" style="border-color: white;">
                        <th  > Emissions</th> <td id = "left-emissions"> Emit <span class="point_span">{{carbonA}}</span> lbs CO2 </td> <td id = "right-emissions"> Emit <span class="point_span">{{carbonB}}</span> lbs CO2</td> 
                    </tr>
                        

                    <tr style="border-color: white;">
                        <th> </th>
                        <td style="text-align: left;"><button name="choice" id="abtn" value="A"
                            class="btn btn-primary btn-large" disabled> Choose Option A</button></td>
                        <td style="text-align: left;"><button name="choice" id="bbtn" value="B"
                            class="btn btn-primary btn-large" disabled>Choose Option B</button></td>
                    </tr>
                </tbody>
            </table>
        
        
        
    </div>

      

            {{ formfield_errors "choice" }}

    


</body>

{% endblock %}

{% block scripts %}<script>
    Salience = "{{Salience}}"
    num_choices = "{{ C.NUM_ROUNDS }}";
    lottery_a_hi = "{{ C.high_lottery }}";
    lottery_a_lo = "{{ C.low_lottery }}";
    lottery_b_hi = "{{ C.safe_outcome }}";
    lottery_b_lo = "{{ C.safe_outcome }}";
    riskyLeft = "{{ riskyLeft }}";

    carbonMetric = Math.round("{{ C.carbon }}" / 2.2);

    enablebtn = function () {
        document.getElementById("bbtn").disabled = false;
        document.getElementById("abtn").disabled = false;
        //document.getElementById("outcometable").style.display = "inline"
        //document.getElementById("outcometable").setAttribute("style", "margin-left: auto; margin-right: auto;  ");
        // document.getElementById("outcomesrow").setAttribute("style", "color: white;");
        // document.getElementById("tabletitle").setAttribute("style", "color: white;");
        // document.getElementById("chosenarrow").setAttribute("style", "color: white;");

    }

    switchSides = function() {
        if (riskyLeft == "True") {
            div1 = $('#payoff_safe');
            div2 = $('#payoff_risky');

            tdiv1 = div1.clone();
            tdiv2 = div2.clone();

            div1.replaceWith(tdiv2);
            div2.replaceWith(tdiv1);

            div5 = $('#description-safe');
            div6 = $('#description-risky');

            tdiv5 = div5.clone();
            tdiv6 = div6.clone();

            div5.replaceWith(tdiv6);
            div6.replaceWith(tdiv5);

        }
    }

    activate_EmissionsRow = function () {
        if (Salience == "True") {
            $('.non_salient').css("display", "revert")
        }
    }

    window.onload = function () {
        $('.carbonMetric').html(carbonMetric)
        activate_EmissionsRow();
        switchSides()
       
        setTimeout(function () { enablebtn() }, 1000);
    }
</script>


{% endblock %}