{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
    <link href="{{ static 'global/EDEGgeneral.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/EDEGcustom.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
    Next-Up: Multi-round Decision Making Game
{% endblock %}

{% block content %}
<div style="max-width:755px;" >  
Before the multi-round game will start, we will show you a preview of the game so you can familiarize yourself with the choices you will be making. 
</div>
<div style="max-width:755px;" class="next-btn">  
    <div style="float: right; padding-top: 2vh;">
        <button class="btn btn-primary otree-btn-next"id="next-button">Next</button> 
    </div>
</div> 

{% endblock %}


